.sidebar {
    width: 25%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 999;
    left: -100%;
    top: 0;
    padding: 20px 25px;
    transition: all 0.6s;
    &.active {
        left: 0;
    }
    .sidebar_head {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding: 20px 0;
        img {
            width: 15%;
        }
        h1 {
            font-size: 25px;
            font-weight: 800;
        }
    }
}
